.border {
    border: 1px solid red;
}

.rounded{
    border-radius: 10px;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.bg-black {
    background-color: black;
    color: #fff;
}

.bg-grey {
    background-color: #1D1D1D;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding:10px;
}
.invert {
    filter: invert(1);
}